.resume-page .resume-container .resume {
  width: 210mm;
  height: 297mm;
  box-shadow: 0px 0px 2px 0px black;
  margin: 10px auto;
  padding: 1.5em;
  text-align: justify; }

.resume-container .resume-page .resume-meta, header.resume-tools {
  position: fixed;
  z-index: 10;
  top: 0px; }

section.side-bar-content .info-section > input, section.side-bar-content .info-section .descriptionList > input {
  background-color: transparent;
  border: 0;
  color: white; }

section.side-bar-content .info-section > input, section.side-bar-content .info-section .descriptionList > input {
  padding: 0px 5px; }
  section.side-bar-content .info-section > input::-webkit-input-placeholder, section.side-bar-content .info-section .descriptionList > input::-webkit-input-placeholder {
    color: #ffffff; }
  section.side-bar-content .info-section > input:-moz-placeholder, section.side-bar-content .info-section .descriptionList > input:-moz-placeholder {
    color: #ffffff; }
  section.side-bar-content .info-section > input::-moz-placeholder, section.side-bar-content .info-section .descriptionList > input::-moz-placeholder {
    color: #ffffff; }
  section.side-bar-content .info-section > input:-ms-input-placeholder, section.side-bar-content .info-section .descriptionList > input:-ms-input-placeholder {
    color: #ffffff; }

.resume-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 41px;
  overflow: hidden; }
  .resume-container .resume-page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-basis: calc(100% - 30%);
    -moz-flex-basis: calc(100% - 30%);
    -ms-flex-basis: calc(100% - 30%);
    flex-basis: calc(100% - 30%);
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
    .resume-container .resume-page .resume-meta {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      width: calc(100% - 30%);
      background-color: #A6A6A6;
      z-index: 1001; }
      .resume-container .resume-page .resume-meta i.fa {
        cursor: pointer;
        font-size: 1.5em;
        padding: 10px;
        background-color: #A56BD2;
        color: #ffffff; }
      .resume-container .resume-page .resume-meta .resume-progress {
        position: absolute;
        left: 38px;
        padding: 20.5px 0;
        width: 0;
        background-color: #90D151;
        color: #ffffff;
        transition: width 1s cubic-bezier(0.65, 0.05, 0.36, 1); }
        .resume-container .resume-page .resume-meta .resume-progress + span {
          margin: auto;
          z-index: 10002;
          color: #ffffff; }
  .resume-container .resume-side-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 30%;
    -moz-flex-basis: 30%;
    -ms-flex-basis: 30%;
    flex-basis: 30%; }

.resume-page {
  height: 100%;
  background-color: #ffffff; }
  .resume-page .resume-container {
    overflow: auto;
    position: relative; }
    .resume-page .resume-container .resume {
      display: none; }
      .resume-page .resume-container .resume.resume-active {
        display: block; }
  .resume-page .resume-meta .resume-form-info #form-count {
    font-weight: 600; }

header.resume-tools {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 30%;
  background-color: #A56BD2;
  color: #ffffff;
  border-bottom: 2px solid #ffffff; }
  header.resume-tools .left-tools {
    padding: 10px 15px; }
    header.resume-tools .left-tools i.fa {
      font-size: 1.4em;
      cursor: pointer;
      vertical-align: middle;
      text-shadow: 1px 1px 0px black; }
      header.resume-tools .left-tools i.fa.disabled {
        color: #A6A6A6;
        pointer-events: none; }
    header.resume-tools .left-tools i.prev {
      margin-right: 10px; }
    header.resume-tools .left-tools i.next {
      margin-left: 10px; }
    header.resume-tools .left-tools > span {
      display: inline-block;
      vertical-align: middle;
      pointer-events: none; }
  header.resume-tools .right-tools .btn {
    font-size: 1.4em;
    line-height: 1;
    background-color: #A56BD2;
    border-radius: 0px;
    padding: 10px 15px;
    border-left: 2px solid #ffffff; }

section.side-bar-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  background-color: #A56BD2;
  color: #ffffff;
  padding: 10%; }
  section.side-bar-content .info-section {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff; }
    section.side-bar-content .info-section > input.half-width {
      max-width: 50%; }
    section.side-bar-content .info-section > input.input-headline {
      font-size: 1.1em;
      text-shadow: 0px 0px 0px; }
    section.side-bar-content .info-section .descriptionList {
      padding-top: 20px; }
      section.side-bar-content .info-section .descriptionList > span {
        display: block;
        padding: 0px 5px;
        text-shadow: 0px 0px 0px; }

.rp-context-menu {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: visibility 0.2s ease-in-out;
  -moz-transition: visibility 0.2s ease-in-out;
  -ms-transition: visibility 0.2s ease-in-out;
  -o-transition: visibility 0.2s ease-in-out;
  transition: visibility 0.2s ease-in-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -moz-transform-origin: center bottom 0px;
  -webkit-transform-origin: center bottom 0px;
  -ms-transform-origin: center bottom 0px;
  -o-transform-origin: center bottom 0px;
  transform-origin: center bottom 0px;
  background-color: #ffffff;
  z-index: -1;
  visibility: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  margin-left: -40px;
  padding: 0; }
  .rp-context-menu-open .rp-context-menu {
    z-index: 10000;
    visibility: visible; }
  .rp-context-menu .rp-context-menu-items {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: initial;
    background-color: initial;
    -webkit-background-clip: initial;
    background-clip: initial;
    border: 0px;
    border-radius: 0px;
    min-width: 160px;
    max-width: 250px;
    min-height: 150px;
    max-height: 250px;
    overflow: auto;
    padding: 0;
    margin: 0; }
    .rp-context-menu .rp-context-menu-items > li.dropdown-item {
      font-weight: 400;
      cursor: pointer;
      padding: 10px 20px;
      -webkit-font-smoothing: antialiased; }
      .rp-context-menu .rp-context-menu-items > li.dropdown-item:hover {
        background-color: #A56BD2;
        color: #ffffff; }
      .rp-context-menu .rp-context-menu-items > li.dropdown-item.visited {
        text-shadow: 0px 0px 0px;
        color: #A56BD2; }
        .rp-context-menu .rp-context-menu-items > li.dropdown-item.visited:hover {
          color: #ffffff; }
  .rp-context-menu .reqd-info {
    position: relative;
    padding: 10px 15px;
    background-color: #A56BD2;
    color: #ffffff;
    border-radius: 0px 0px 1px 1px;
    text-shadow: 0px 0px 0px;
    letter-spacing: 0.8px; }
