.resume-page .resume-tools {
  background-color: #A56BD2;
  color: #ffffff; }

.resume-page .resume-container .resume {
  width: 210mm;
  height: 297mm;
  box-shadow: 0px 0px 2px 0px black;
  margin: 10px auto;
  padding: 1.5em;
  text-align: justify; }

.resume-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .resume-container .resume-page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(100vw - 30vw);
    -moz-flex-basis: calc(100vw - 30vw);
    -ms-flex-basis: calc(100vw - 30vw);
    flex-basis: calc(100vw - 30vw);
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
    .resume-container .resume-page .resume-meta {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      background-color: #A6A6A6; }
      .resume-container .resume-page .resume-meta i.fa {
        cursor: pointer;
        font-size: 1.5em;
        padding: 10px;
        background-color: #A56BD2;
        color: #ffffff; }
      .resume-container .resume-page .resume-meta .resume-progress {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        position: relative;
        padding: 10px 0;
        width: 30%;
        background-color: #90D151;
        color: #ffffff; }
  .resume-container .resume-side-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 30vw;
    -moz-flex-basis: 30vw;
    -ms-flex-basis: 30vw;
    flex-basis: 30vw;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }

.resume-page {
  height: 100%;
  background-color: #ffffff; }
  .resume-page .resume-tools .left-tools .resume-hint {
    margin-left: 10px; }
    .resume-page .resume-tools .left-tools .resume-hint i.fa {
      cursor: pointer; }
  .resume-page .resume-container {
    overflow: auto;
    position: relative; }
    .resume-page .resume-container .resume {
      display: none; }
      .resume-page .resume-container .resume.resume-active {
        display: block; }
  .resume-page .resume-meta .resume-form-info #form-count {
    font-weight: 600; }
  .resume-page .resume-meta .resume-pagination i.fa {
    font-size: 1.2em;
    cursor: pointer; }
    .resume-page .resume-meta .resume-pagination i.fa.disabled {
      color: grey;
      pointer-events: none; }
  .resume-page .resume-meta .resume-pagination i.prev {
    margin-right: 10px; }
  .resume-page .resume-meta .resume-pagination i.next {
    margin-left: 10px; }

.resume-form .modal-body {
  max-height: 70%;
  max-height: 70vh;
  overflow: auto; }

.resume-form .half-width {
  width: 49%; }
  .resume-form .half-width:nth-child(even) {
    float: right; }
  .resume-form .half-width:nth-child(odd) {
    float: left; }

.rp-context-menu {
  top: -10000px;
  left: -10000px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -moz-transform-origin: center bottom 0px;
  -webkit-transform-origin: center bottom 0px;
  -ms-transform-origin: center bottom 0px;
  -o-transform-origin: center bottom 0px;
  transform-origin: center bottom 0px;
  background-color: #f5f5f5;
  z-index: -1;
  visibility: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: -40px;
  padding: 0; }
  .rp-context-menu-open .rp-context-menu {
    z-index: 10000;
    visibility: visible; }
  .rp-context-menu .rp-context-menu-items {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: initial;
    background-color: initial;
    -webkit-background-clip: initial;
    background-clip: initial;
    border: 0px;
    border-radius: 0px;
    min-width: 160px;
    max-width: 250px;
    min-height: 150px;
    max-height: 250px;
    overflow: auto;
    padding: 0;
    margin: 0; }
    .rp-context-menu .rp-context-menu-items > li.dropdown-item {
      font-weight: 400;
      cursor: pointer;
      padding: 5px 10px; }
      .rp-context-menu .rp-context-menu-items > li.dropdown-item:hover {
        background-color: #A56BD2;
        color: #ffffff; }
      .rp-context-menu .rp-context-menu-items > li.dropdown-item.visited {
        text-decoration: underline;
        font-style: italic; }
      .rp-context-menu .rp-context-menu-items > li.dropdown-item sup {
        color: red;
        font-weight: 600; }
  .rp-context-menu .reqd-info {
    position: relative;
    padding: 5px;
    background-color: #656565;
    color: white;
    border-radius: 0px 0px 3px 3px;
    text-shadow: 0px 0px 0px;
    letter-spacing: 0.8px; }
    .rp-context-menu .reqd-info sup {
      color: red; }
