.resume .resume-page .resume-meta {
  position: fixed;
  z-index: 10;
  top: 0px; }

.resume-side-bar .info-section > input,
.resume-side-bar .info-section > textarea, .resume-side-bar .info-section .descriptionList > input,
.resume-side-bar .info-section .descriptionList > textarea {
  background-color: transparent;
  border: 0;
  color: #ffffff; }

.resume-side-bar .info-section > input,
.resume-side-bar .info-section > textarea, .resume-side-bar .info-section .descriptionList > input,
.resume-side-bar .info-section .descriptionList > textarea {
  padding: 2.5px 5px;
  width: 100%; }
  .resume-side-bar .info-section > input:focus,
  .resume-side-bar .info-section > textarea:focus, .resume-side-bar .info-section .descriptionList > input:focus,
  .resume-side-bar .info-section .descriptionList > textarea:focus {
    outline-color: #ffffff; }
  .resume-side-bar .info-section > input::-webkit-input-placeholder,
  .resume-side-bar .info-section > textarea::-webkit-input-placeholder, .resume-side-bar .info-section .descriptionList > input::-webkit-input-placeholder,
  .resume-side-bar .info-section .descriptionList > textarea::-webkit-input-placeholder {
    color: #ffffff; }
  .resume-side-bar .info-section > input:-moz-placeholder,
  .resume-side-bar .info-section > textarea:-moz-placeholder, .resume-side-bar .info-section .descriptionList > input:-moz-placeholder,
  .resume-side-bar .info-section .descriptionList > textarea:-moz-placeholder {
    color: #ffffff; }
  .resume-side-bar .info-section > input::-moz-placeholder,
  .resume-side-bar .info-section > textarea::-moz-placeholder, .resume-side-bar .info-section .descriptionList > input::-moz-placeholder,
  .resume-side-bar .info-section .descriptionList > textarea::-moz-placeholder {
    color: #ffffff; }
  .resume-side-bar .info-section > input:-ms-input-placeholder,
  .resume-side-bar .info-section > textarea:-ms-input-placeholder, .resume-side-bar .info-section .descriptionList > input:-ms-input-placeholder,
  .resume-side-bar .info-section .descriptionList > textarea:-ms-input-placeholder {
    color: #ffffff; }

.resume {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 75px;
  overflow: hidden;
  position: fixed; }
  .resume .resume-page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 70%;
    -moz-flex-basis: 70%;
    -ms-flex-basis: 70%;
    flex-basis: 70%;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    overflow: auto;
    height: calc(100vh - 75px);
    max-width: calc(101% - 30%);
    min-width: calc(101% - 30%); }
    .resume .resume-page .resume-meta {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      width: 70%;
      background-color: #A6A6A6;
      z-index: 1001; }
      .resume .resume-page .resume-meta i.fa {
        cursor: pointer;
        font-size: 1.5em;
        padding: 10px;
        background-color: #A56BD2;
        color: #ffffff; }
      .resume .resume-page .resume-meta .resume-progress {
        position: absolute;
        left: 38px;
        padding: 20.5px 0;
        width: 0;
        background-color: #90D151;
        color: #ffffff;
        transition: width 1s cubic-bezier(0.65, 0.05, 0.36, 1); }
        .resume .resume-page .resume-meta .resume-progress + span {
          margin: auto;
          z-index: 10002;
          color: #ffffff; }

.fn-header {
  top: 0px;
  right: 0px;
  left: 0px;
  position: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 20px 30px;
  background-color: #46166A;
  z-index: 10; }
  .fn-header .header-logo {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    .fn-header .header-logo > img {
      border: 1px solid white; }
    .fn-header .header-logo > span {
      color: #ffffff;
      font-size: 1.8em;
      display: inline-block;
      margin-left: 10px;
      font-family: monospace;
      letter-spacing: -2px; }
  .fn-header ul.header-items {
    margin: 0;
    padding: 0;
    list-style: none; }
    .fn-header ul.header-items li {
      float: left; }
      .fn-header ul.header-items li a {
        text-decoration: none;
        color: #ffffff; }
      .fn-header ul.header-items li:not(:last-child) a:after {
        content: "|";
        margin: 0 10px;
        color: #A56BD2; }

.resume-page {
  height: 100%;
  background-color: #ffffff; }
  .resume-page .resume-container {
    overflow: hidden;
    position: relative; }
    .resume-page .resume-container > div:not(.rp-context-menu) {
      display: inline-block; }
    .resume-page .resume-container .resume-meta .resume-form-info #form-count {
      font-weight: 600; }

.resume-side-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 30%;
  -moz-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
  background-color: #A56BD2;
  color: #ffffff;
  padding: 20px;
  overflow: auto;
  height: calc(100vh - 75px);
  max-width: 30%; }
  .resume-side-bar .info-section {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff; }
    .resume-side-bar .info-section > input.input-headline {
      font-size: 1.1em;
      text-shadow: 0px 0px 0px; }
    .resume-side-bar .info-section > input.half-width {
      max-width: 50%;
      float: left; }
    .resume-side-bar .info-section > input[type="date"]:before {
      color: white;
      content: attr(placeholder) !important;
      min-width: 100px;
      position: absolute;
      background-color: #A56BD2;
      cursor: text; }
    .resume-side-bar .info-section > input[type="date"]:focus:before {
      content: '' !important; }
    .resume-side-bar .info-section > textarea {
      resize: none; }
    .resume-side-bar .info-section .descriptionList {
      padding-top: 20px; }
      .resume-side-bar .info-section .descriptionList > span {
        display: block;
        padding: 0px 5px;
        text-shadow: 0px 0px 0px; }
      .resume-side-bar .info-section .descriptionList > textarea {
        resize: none; }

.rp-context-menu {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: visibility 0.2s ease-in-out;
  -moz-transition: visibility 0.2s ease-in-out;
  -ms-transition: visibility 0.2s ease-in-out;
  -o-transition: visibility 0.2s ease-in-out;
  transition: visibility 0.2s ease-in-out;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -moz-transform-origin: center bottom 0px;
  -webkit-transform-origin: center bottom 0px;
  -ms-transform-origin: center bottom 0px;
  -o-transform-origin: center bottom 0px;
  transform-origin: center bottom 0px;
  background-color: #ffffff;
  z-index: -1;
  visibility: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  margin-left: -40px;
  padding: 0; }
  .rp-context-menu-open .rp-context-menu {
    z-index: 10000;
    visibility: visible; }
  .rp-context-menu .rp-context-menu-items {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: initial;
    background-color: initial;
    -webkit-background-clip: initial;
    background-clip: initial;
    border: 0px;
    border-radius: 0px;
    min-width: 160px;
    max-width: 250px;
    min-height: 150px;
    max-height: 250px;
    overflow: auto;
    padding: 0;
    margin: 0; }
    .rp-context-menu .rp-context-menu-items > li.dropdown-item {
      font-weight: 400;
      cursor: pointer;
      padding: 10px 20px;
      -webkit-font-smoothing: antialiased; }
      .rp-context-menu .rp-context-menu-items > li.dropdown-item:hover {
        background-color: #A56BD2;
        color: #ffffff; }
      .rp-context-menu .rp-context-menu-items > li.dropdown-item.visited {
        text-shadow: 0px 0px 0px;
        color: #A56BD2; }
        .rp-context-menu .rp-context-menu-items > li.dropdown-item.visited:hover {
          color: #ffffff; }
  .rp-context-menu .reqd-info {
    position: relative;
    padding: 10px 15px;
    background-color: #A56BD2;
    color: #ffffff;
    border-radius: 0px 0px 1px 1px;
    text-shadow: 0px 0px 0px;
    letter-spacing: 0.8px; }
