//#region Color definitions

$red: red;
$purple: #A56BD2;
$darkPurple: #46166A;
$white: #ffffff;
$lightWhite: #efefef;
$grey: #A6A6A6;
$darkGrey: #656565;
$black: #000;
$lightGreen: #90D151;

//#endregion

//#region Colors
$bgColor1: $purple;
$bgColor2: $grey;

$txtColor1: $white;


$baseBgColor: #ffffff;
$primaryColor: #A56BD2;
$secondaryColor: #A56BD2;

//#region Header Colors

$headerBgColor: $primaryColor;
$headerColor: #ffffff;

//#endregion

//#region Context menu colors

$baseCmColor: #f5f5f5;
$cmHighlight: #656565;
$progressBarBg: $lightGreen;

//#endregion

//#endregion

//#region Measurements

$basePad: 5px;
$basePad1: 10px;
$basePad2: 15px;
$basePad3: 20px;

$subtleMargin: 10px;

$cMMinWidth: 160px;
$cMMaxWidth: 250px;
$cMMinHeight: 150px;
$cMMaxHeight: 250px;
$cmTriangle: 10px;

$sideBarWidth: 30%;
$headerHeight: 75px;

//#endregion
