//#region Colors
$baseBgColor: #ffffff;

//#region Header Colors

$headerBgColor: #000000;
$headerColor: #ffffff;

//#endregion

//#region Context menu colors

$baseCmColor: #f5f5f5;
$cmHighlight: #656565;

//#endregion

//#endregion

//#region Measurements

$basePadHorizontal: 10px;
$basePadVertical: 15px;

$subtleMargin: 10px;

$cMMinWidth: 160px;
$cMMaxWidth: 250px;
$cMMinHeight: 150px;
$cMMaxHeight: 250px;
$cmTriangle: 10px;

//#endregion
