.rp-context-menu {
  @include position(absolute, top -10000px left -10000px);
  @include transition(all 0.2s ease-in-out);
  @include megaFlex(fd column);
  @include prefix((transform: translateY(10px),
  transform-origin: center bottom 0px), moz webkit ms o);
  z-index: -1;
  visibility: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 1px;
  margin-left: -40px;
  padding: 0;

  #{&}-open & {
    z-index: 10000;
    visibility: visible;
  }

  #{&}-items {
    @include position(relative, top initial left initial);
    @include prefix((box-shadow: none), webkit);
    display: initial;
    background-color: initial;
    -webkit-background-clip: initial;
    background-clip: initial;
    border: 0px;
    border-radius: 0px;
    min-width: $cMMinWidth;
    max-width: $cMMaxWidth;
    min-height: $cMMinHeight;
    max-height: $cMMaxHeight;
    overflow: auto;
    padding: 0;
    margin: 0;

    > li {
      &.dropdown-item {
        font-weight: 400;
        cursor: pointer;
        padding: $basePad1 $basePad3;
        -webkit-font-smoothing: antialiased;

        &:hover {
          background-color: $bgColor1;
          color: $txtColor1;
        }

        &.visited {
          font-style: italic;
          text-shadow: 0px 0px 0px;
          letter-spacing: 1px;
        }

        sup {
          color: red;
          font-size: 1.5em;
          top: 0;
        }
      }
    }
  }

  .reqd-info {
    position: relative;
    padding: 5px;
    background-color: $cmHighlight;
    color: white;
    border-radius: 0px 0px 3px 3px;
    text-shadow: 0px 0px 0px;
    letter-spacing: 0.8px;
    sup {
      color: red;
    }
  }
}