// <reference path="_variables.scss" />
// <reference path="_mixins.scss" />
// <reference path="_placeholders.scss" />

.resume {
  @include flexbox();
  margin-top: $headerHeight;
  overflow: hidden;
  position: fixed;

  .resume-page {
    @include megaFlex(fg 0 fs 1 fb (100% - $sideBarWidth) fd column jc space-between);
    overflow: auto;
    height: calc(100vh - #{$headerHeight});
    max-width: calc(101% - #{$sideBarWidth});
    min-width: calc(101% - #{$sideBarWidth});
  }
}
