// <reference path="_variables.scss" />
// <reference path="_mixins.scss" />
// <reference path="_placeholders.scss" />

.resume {
  @include flexbox();
  margin-top: $headerHeight;
  overflow: hidden;
  position: fixed;

  .resume-page {
    @include megaFlex(fg 0 fs 1 fb (100% - $sideBarWidth) fd column jc space-between);
    overflow: auto;
    height: calc(100vh - #{$headerHeight});
    max-width: calc(100% - #{$sideBarWidth});

    .resume-meta {
      @include megaFlex(ai center jc flex-start);
      @extend %fixHead;
      width: 100% - $sideBarWidth;
      background-color: $bgColor2;
      z-index: 1001;

      i.fa {
        cursor: pointer;
        font-size: 1.5em;
        padding: $basePad1;
        background-color: $bgColor1;
        color: $txtColor1;
      }
      .resume-progress {
        position: absolute;
        left: 38px;
        padding: 20.5px 0;
        width: 0;
        background-color: $progressBarBg;
        color: $white;
        transition: width 1s cubic-bezier(0.65, 0.05, 0.36, 1);

        & + span {
          margin: auto;
          z-index: 10002;
          color: $white;
        }
      }
    }
  }
}
