// <reference path="_variables.scss" />
// <reference path="_mixins.scss" />
// <reference path="_placeholders.scss" />

.resume-page {
  height: 100%;
  background-color: $baseBgColor;

  .resume-tools {
    @extend %bgWithColor;

    .left-tools {
      .resume-hint {
        margin-left: 10px;

        i.fa {
          cursor: pointer;
        }
      }
    }
  }
  
  .resume-container {
    overflow: auto;
    position: relative;

    .resume {
      @extend %A4Sheet;
      display: none;

      &.resume-active {
        display: block;
      }
    }
  }
  
  .resume-meta {
    .resume-form-info {
      #form-count {
        font-weight: 600;
      }
    }

    .resume-pagination {
      i.fa {
        font-size: 1.2em;
        cursor: pointer;

        &.disabled {
          color: grey;
          pointer-events: none;
        }
      }

      i.prev {
        margin-right: $subtleMargin;
      }

      i.next {
        margin-left: $subtleMargin;
      }
    }
  }
}