// <reference path="_variables.scss" />
// <reference path="_mixins.scss" />
// <reference path="_placeholders.scss" />

.resume-page {
  height: 100%;
  background-color: $baseBgColor;

  .resume-container {
    overflow: hidden;
    position: relative;

    >div:not(.rp-context-menu) {
      display: inline-block;
    }

    .resume-meta {
      .resume-form-info {
        #form-count {
          font-weight: 600;
        }
      }
    }
  }
}
