// header.resume-tools {
//   @include megaFlex(fd row jc space-between ai center fs 0 fg 0 fb auto);
//   @extend %fixHead;
//   width: $sideBarWidth;
//   background-color: $bgColor1;
//   color: $txtColor1;
//   border-bottom: 2px solid $white;

//   .left-tools {
//     padding: $basePad1 $basePad2;

//     i.fa {
//       font-size: 1.4em;
//       cursor: pointer;
//       vertical-align: middle;
//       text-shadow: 1px 1px 0px black;

//       &.disabled {
//         color: $bgColor2;
//         pointer-events: none;
//       }
//     }

//     i.prev {
//       margin-right: $subtleMargin;
//     }

//     i.next {
//       margin-left: $subtleMargin;
//     }

//     >span {
//       display: inline-block;
//       vertical-align: middle;
//       pointer-events: none;
//     }
//   }

//   .right-tools {
//     .btn {
//       font-size: 1.4em;
//       line-height: 1;
//       background-color: $primaryColor;
//       border-radius: 0px;
//       padding: $basePad1 $basePad2;
//       border-left: 2px solid $white;
//     }
//   }
// }

.resume-side-bar {
  @include megaFlex(fd column fs 1 fg 1 fb $sideBarWidth);
  background-color: $bgColor1;
  color: $txtColor1;
  padding: $basePad3;
  overflow: auto;
  height: calc(100vh - #{$headerHeight});
  max-width: $sideBarWidth;

  .info-section {
    padding: 20px 0;
    border-bottom: 1px solid $white;

    input {
      &.input-headline {
        font-size: 1.1em;
        text-shadow: 0px 0px 0px;
      }

      &.half-width {
        max-width: 50%;
        float: left;
      }

      &[type="date"] {
        color: transparent;

        &.date-hasValue {
          color: white;
          &:before {
            content: '' !important;
            min-width: 0px;
          }
        }

        &:before {
          color: white;
          content: attr(placeholder);
          min-width: 100px;
          background-color: $purple;
          cursor: text;
        }

        // &:focus {
        //   color: white;

        //   &:before {
        //     @extend %hasValue;
        //   }
        // }
      }
    }

    >textarea {
      resize: none;
    }

    input,
    >textarea {
      @extend %input;
    }

    .avatar-region {
      @include flexbox();
      padding: 2.5px 5px;

      > div:first-child {
        margin-right: 10px;

        + div {
          margin-top: -5px;
        }
      }
    }

    .descriptionList {
      padding-top: 20px;

      >span {
        display: block;
        padding: 0px 5px;
        text-shadow: 0px 0px 0px;
      }

      >textarea {
        resize: none;
      }

      >input,
      >textarea {
        @extend %input;
      }
    }
  }
}
